<template name="_tabsHeader">
  {{#ionHeaderBar class="bar-positive"}}
    <!-- {{>ionNavBackButton path="/"}} -->
    <h1 class="title">{{tabTitle}}</h1>
    {{#if isVisitor }}
    	Visitor
    {{else}}
    	Welcome
    {{/if}}
  {{/ionHeaderBar}}

  {{#contentFor "headerButtonLeft"}}
    
  {{/contentFor}}

  <!-- {{#ionHeaderBar class="bar-positive"}}
    {{>ionNavBackButton path="index"}}
    <h1 class="title">Tabs</h1>
    {{> loginButtons align="right"}}
  {{/ionHeaderBar}} -->

</template>
