<template name="_tabsHeader">

{{> ionNavBar}}

  {{#contentFor "headerButtonLeft"}}
    {{> ionNavBackButton path="/"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{curTabTitle}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
      
   {{/contentFor}}
 <!-- <button class="button button-clear" onclick="location.href = '/dposts/{{_id}}'">Edit</button> --> 
  
  <!-- {{#ionHeaderBar class="bar-positive"}}
    {{>ionNavBackButton}}
    <h1 class="title">Tabs</h1>
  {{/ionHeaderBar}} -->

</template>
