<template name="tabsOne">
  {{#ionView}}
    {{> _tabsHeader}}

    {{#ionContent class="padding"}}
    <div class="bar bar-header item-input-inset">
  		<label class="item-input-wrapper">
    	<i class="icon ion-ios-search placeholder-icon"></i>
    	<input type="search" placeholder="Search">
  		</label>
  		<button class="button button-clear"> Cancel </button>
  	</div>
  	<div>
  		<label class="item-input-wrapper">
    	<i class="icon ion-ios-location placeholder-icon"></i>
    	<input type="search" placeholder="Loc">
  		</label>
  		<button class="button button-clear"> Manual </button>
	</div>


<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="https://randomuser.me/api/portraits/thumb/men/39.jpg">
      <h2>10-mile Run</h2>
      <p>by Tom Lee</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="https://randomuser.me/api/portraits/thumb/women/38.jpg">
      <h2>Morning Yoga</h2>
      <p>by Alice Wang</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="https://randomuser.me/api/portraits/thumb/men/49.jpg">
      <h2>Looking for a fitness partner</h2>
      <p>by Alex Zack</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="https://randomuser.me/api/portraits/thumb/men/50.jpg">
      <h2>Meet up for basketball </h2>
      <p>by Bob Wexler</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="https://randomuser.me/api/portraits/thumb/women/51.jpg">
      <h2>Saturday Tennis Play</h2>
      <p>by Julia Fox </p>
    </a>

</div>

    {{/ionContent}}

    {{> _tabs}}
  {{/ionView}}
</template>
