<template name="tabsOne">
  {{#ionView}}
    {{> _tabsHeader}}
	<!-- {{#contentFor "headerButtonRight"}}
    	<button class="button button-positive" onclick="location.href = '/newPost'"> NewPost </button>
  	{{/contentFor}} -->
    <div>
    {{#if currentUser}}
    	Welcome back, 
    {{else}}
    	Please 
    {{/if}}
    {{> loginButtons}}
    </div>
    {{#ionContent class="padding"}}

    

    <div class="bar bar-header item-input-inset">
  		<label class="item-input-wrapper">
    	<i class="icon ion-ios-search placeholder-icon"></i>
    	<input type="search" placeholder="Search Post">
  		</label>
  		<button class="button button-clear" onclick="location.href = '/newPost'"> NewPost </button>
  	</div>
  	<!-- <div>
  		<label class="item-input-wrapper">
    	<i class="icon ion-ios-search placeholder-icon"></i>
    	<input type="search" placeholder="location">
  		</label>
  		<button class="button button-clear"> Manual </button>
	</div> -->
	<div>
		<a href = '/newPost'>
		<!-- <button class="ion-plus-circled"></button>  -->
		 Add a new action!
		</a>
	</div>

	{{> postLists}}

    {{/ionContent}}

    {{> _tabs}}
  {{/ionView}}
</template>
