<template name="tabsOne">

  {{#ionView}}
  	
  	{{#ionContent}}
    <div class="bar bar-header item-input-inset">
  		<label class="item-input-wrapper">
    	<i class="icon ion-ios-search placeholder-icon"></i>
    	<input type="search" placeholder="Search Post">
  		</label>
  		{{#if currentUser}}		
  			<button class="button button-clear" onclick="location.href = '/newPost'"> NewPost </button>
  		{{/if}}
  	</div>
  	<!-- <div>
  		<label class="item-input-wrapper">
    	<i class="icon ion-ios-search placeholder-icon"></i>
    	<input type="search" placeholder="location">
  		</label>
  		<button class="button button-clear"> Manual </button>
	</div> -->

<!-- 		<div>
			<a href = '/newPost'>
			<button class="ion-plus-circled"></button> 
			 Add a new action!
			</a>
		</div> -->


	{{> postLists}}

    {{/ionContent}}
  {{/ionView}}
</template>
