<template name="sfNewUser">

	{{#ionView}}
		{{#ionContent}}
	        {{> quickForm collection="SofitUsers" doc=post id="new-user" type="insert" fields="firstName,lastName,gender, email,portrait, selfIntro" buttonContent="Submit"}} 
	

<!-- 			{{#autoForm id="new-user" type="insert" collection="SofitUsers"}}
				{{> afQuickField name="firstName"}}
				{{> afQuickField name="lastName"}}
				{{> afFormGroup name="gender" type="select-radio-inline" options=optionsHelper}}
  				
				{{#unless autoSaveMode}}
				<div class="form-group">
    			<button type="submit" class="btn btn-primary">Submit</button>
  				</div>
				{{/unless}}
			{{/autoForm}} -->

	    {{/ionContent}}
	{{/ionView}}

</template>